<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Other medications</title>
</head>
<body>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='other_medication.css')}}">

    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">{{user["Name"]}}</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
        </div>
        </header>
        <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Menu</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="{{url_for('patient_home')}}">Dosage Dashboard</a>
            <a class="mdl-navigation__link" href="{{url_for('take_dose')}}">Take Dose</a>
            <a class="mdl-navigation__link" href="{{url_for('update_INR_pat')}}">Update INR</a>
<!--             <a class="mdl-navigation__link" href="{{url_for('stop_meds')}}">Stop Medications</a> -->
            <hr/>
            <a class="mdl-navigation__link" href="{{url_for('other_medication')}}">Report Other medications</a>
            <a class="mdl-navigation__link" href="{{url_for('prolonged_illness')}}">Report Prolonged Illness</a>
            <a class="mdl-navigation__link" href="{{url_for('lifestyle_changes')}}">Report Lifestyle Changes</a>
            <a class="mdl-navigation__link" href="{{url_for('side_effects')}}">Report Side Effects</a>
            <hr/>
            <a class="mdl-navigation__link" href="{{url_for('patient_profile')}}">My Profile</a>

            <div style="height: 50px; width: 50px; border-radius: 50%; overflow: hidden;padding-left: 20px;">
              <img src="{{user['PFP']}}" style="width: 100%">
            </div>
            <p style="padding-left: 20px;color:black;">{{user['Name']}}</p>
            <a class="mdl-navigation__link" href="{{url_for('logout')}}" style="font-family: Arial, Helvetica, sans-serif;">Log out</a>
        </nav>

        </div>
        <main class="mdl-layout__content">
        <div class="page-content" style="padding:50px">
            <br>

            <form method='POST'>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" name='drug' type="text" id="sample3" required>
                <label class="mdl-textfield__label" for="sample3">Enter Other Drug Name</label>
                </div>
                
            
            
            <div class="section">
                <button id="btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 1);">
                  <p id="btnText">Submit</p>
                  <div class="checked">
                    <i class="material-icons" style="padding-top: 13px;">done</i>
                  </div>
                </button>
              </div>
              <script>
                var btn = document.getElementById("btn");
                var btnText = document.getElementById("btnText");

                btn.onclick = function() {
                btnText.innerHTML = "Thanks";
                btn.classList.add("active");
                }
            </script>
  
            </form>
        </div>
        </main>
    </div>
</body>
</html>