<html>
<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
	<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">{{user["Name"]}}</span>
      <!-- Add spacer, to align navigation to the right -->
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Menu</span>
    <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="{{url_for('patient_home')}}">Dosage Dashboard</a>
            <a class="mdl-navigation__link" href="{{url_for('take_dose')}}">Take Dose</a>
            <a class="mdl-navigation__link" href="{{url_for('update_INR_pat')}}">Update INR</a>
<!--             <a class="mdl-navigation__link" href="{{url_for('stop_meds')}}">Stop Medications</a> -->
            <hr/>
            <a class="mdl-navigation__link" href="{{url_for('other_medication')}}">Report Other medications</a>
            <a class="mdl-navigation__link" href="{{url_for('prolonged_illness')}}">Report Prolonged Illness</a>
            <a class="mdl-navigation__link" href="{{url_for('lifestyle_changes')}}">Report Lifestyle Changes</a>
            <a class="mdl-navigation__link" href="{{url_for('side_effects')}}">Report Side Effects</a>
            <hr/>
            <a class="mdl-navigation__link" href="{{url_for('patient_profile')}}">My Profile</a>

            <div style="height: 50px; width: 50px; border-radius: 50%; overflow: hidden;padding-left: 20px;">
              <img src="{{user['PFP']}}" style="width: 100%">
            </div>
            <p style="padding-left: 20px;color:black;">{{user['Name']}}</p>
            <a class="mdl-navigation__link" href="{{url_for('logout')}}" style="font-family: Arial, Helvetica, sans-serif;">Log out</a>
        </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content" style="display: flex; flex-direction: row; justify-content: center; align-items: center;margin-top: 25px;">

    	<div style="width:85%" class="mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <span style="display:inline;"><h4 style="display:inline;">Raj Kumar</h4>&nbsp;&nbsp;<p style="display:inline;">57 Y/O Male</p></span>
  </div>
  <div class="mdl-card__supporting-text" style="color:black;">

  	<p>Medical History</p>
  	<div style="background-color:#e0dcec;border-radius: 5px;width:75%;padding: 25px">
  		<p>January 2021 - December 2022 | Right Leg Fracture<br/>
	February 2022 - Present | Diabetes Type II</p>
	</div>
	<br/>
	<p>Past INR Levels</p>
  	<div style="background-color:#e0dcec;border-radius: 5px;width:75%;padding: 25px">
  		
		<canvas id="INRChart" height="300"></canvas>
	</div>
	<br/><br/>
  	<div style="background-color:#e0dcec;border-radius: 5px;width:75%;padding: 25px">
  		<table>
  			<tr style="padding-bottom: 5em;">
  				<td style="border: 0.2px solid;">Therapy</td>
  				<td style="border: 0.2px solid;">Warfarin</td>
  			</tr>
  			<tr style="padding-bottom: 5em;">
  				<td style="border: 0.2px solid;">Assigned Drug Dosage Level</td>
  				<td style="border: 0.2px solid;">50mg Warfarin | Before Meal EveryDay Morning,Night</td>
  			</tr>
  			<tr style="padding-bottom: 5em;">
  				<td style="border: 0.2px solid;">Reports Raised by Patient</td>
  				<td style="border: 0.2px solid;">Side Effects : Headache<br/>
					Diet Changes : None<br/>
					Lifestyle Changes : Stopped Regular Alcohol Consumption<br/>
					Other Medication : Glucose Medication Taken</td>
  			</tr>
  			<tr style="padding-bottom: 5em;">
  				<td style="border: 0.2px solid;">Contact of Patient</td>
  				<td style="border: 0.2px solid;">+91 73959 11430</td>
  			</tr>
  			<tr>
  				<td style="border: 0.2px solid;">Patient’s Kin and Contact</td>
  				<td style="border: 0.2px solid;">Aaryan Chirag, Father [+91 94445 06421]</td>
  			</tr>
  		</table>
	</div>
</div>
</div>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
	<script>

		const labels = ["Jan","Feb","Mar","Apr","May","Jun","Jul"];
const data = {
  labels: labels,
  datasets: [{
    label: 'My First Dataset',
    data: [65, 59, 80, 81, 56, 55, 40],
    backgroundColor: [
      'rgba(255, 99, 132, 0.2)',
      'rgba(255, 159, 64, 0.2)',
      'rgba(255, 205, 86, 0.2)',
      'rgba(75, 192, 192, 0.2)',
      'rgba(54, 162, 235, 0.2)',
      'rgba(153, 102, 255, 0.2)',
      'rgba(201, 203, 207, 0.2)'
    ],
    borderColor: [
      'rgb(255, 99, 132)',
      'rgb(255, 159, 64)',
      'rgb(255, 205, 86)',
      'rgb(75, 192, 192)',
      'rgb(54, 162, 235)',
      'rgb(153, 102, 255)',
      'rgb(201, 203, 207)'
    ],
    borderWidth: 1
  }]
};

		const config = {
  type: 'bar',
  data: data,
  options: {
    scales: {
      y: {
        beginAtZero: true
      }
    }
  },
};
	new Chart(
							document.getElementById('INRChart'),config
						);

	</script>
<br/><br/>
<footer style="position: fixed; width: 100%; bottom: 0; box-sizing: border-box;z-index: 999;background-color:white ; box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);">

<button style="border-radius: 10px;font-size: 10px;" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
  View Historic Doses and Mis-Doses
</button>

<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" style="float: right;margin-right:10px;">
  <i class="material-icons">add</i>
</button>



</footer>

    </div>
  </main>
</div>
</body>
</html>